@(loginForm: Form[User])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main("Login to super service", navbar.render(routes.Application.loginForm)){

<div class="hero-unit">
    <h2>@Messages("login.welcome")</h2>

    <p>@Messages("login.tagline")</p>

@form(routes.Application.doLogin){
    <p>
    @inputText(loginForm("email"), '_label -> "Email")
    @inputPassword(loginForm("password"), '_label -> "Password", '_error -> "password")


    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">@Messages("button.signin")</button>

            <a class="btn primary" href="/register">
                @Messages("button.register")
            </a>
        </div>
    </div>
    </p>

}

    </div>
}
