@(currentRoute:Call)
@import _root_.helper.LoginHelper
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">@Messages("brand.title")</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="@if(currentRoute == routes.Application.index){active}">
                        <a href="@routes.Application.index">@Messages("nav.start")</a>
                    </li>
                    @if(!LoginHelper.isUserLoggedIn()){
                    <li class="@if(currentRoute == routes.Application.registrationForm){active}">
                        <a href="@routes.Application.registrationForm">@Messages("nav.account.register")</a>
                    </li>
                    }
                    @if(LoginHelper.isUserLoggedIn()){
                    <li class="@if(currentRoute == routes.Application.userProfile){active}">
                        <a href="@routes.Application.userProfile">@Messages("nav.profile")</a>
                    </li>
                    }
                    @if(LoginHelper.isUserLoggedIn()){
                    <li class="@if(currentRoute == routes.Application.logout){active}">
                        <a href="@routes.Application.logout">@Messages("nav.logout")</a>
                    </li>
                    }
                    @if(!LoginHelper.isUserLoggedIn()){
                    <li class="@if(currentRoute == routes.Application.loginForm){active}">
                        <a href="@routes.Application.loginForm">@Messages("nav.login")</a>
                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>