@(users: List[User])

@row(user: User) = {

<tr>
    <td>@user.id</td>
    <td>@user.name</td>
    <td>@user.email</td>
    <td>@user.password </td>

</tr>

}
@main("All users",  navbar.render(routes.Application.users)){

        <div class="hero-unit">
    <h2>@Messages("userlist.title")</h2>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>@Messages("userlist.name")</th>
        <th>@Messages("userlist.email")</th>
        <th>@Messages("userlist.pasword")</th>
    </tr>
    </thead>
    @for(user <- users) {
        @row(user)
    }
</table>
        </div>
}